.user {
    background-color: rgba(255, 247, 209, 0.3);
    display: flex;
    align-items: center;
    justify-content: space-around;
    -webkit-box-shadow: 13px 18px 29px -5px #EAFFA1; 
    box-shadow: 13px 18px 29px -5px #B9CA7F;
    width: 37%;
    max-width: 800px;
    height: 400px;
    max-height: 500px;
    border-radius: 40px;
    overflow: hidden;
}

.user img {
    height: 250px;
    width: 250px;
    border-radius: 100px;
}

.user-info {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.user-info span {
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    width: 100%;
    pointer-events: none;
}

.user-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 140px;
}

.user-detail textarea {
    field-sizing: content;
    text-align: center;
    border-radius: 20px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    margin-top: 30px;
    min-inline-size: 40ch;
    min-block-size: 20ch;
    width: 90%;
    box-sizing: border-box;
}

.user-detail .detail-display {
    width: 90%;
    min-inline-size: 40ch;
    min-block-size: 20ch;
    border-radius: 20px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 10px;
    margin-top: 0px;
    box-sizing: border-box;
    white-space: pre-wrap;
}

.user-detail button {
    border: none;
    justify-content: center;
    text-align: center;
    align-items: center;
    display: flex;
    font-size: 12px;
    border-radius: 15px;
    margin-top: 12px;
    width: 50px;
    height: 30px;
    background-color: #8fcf81;
    color: white;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.user-detail button:hover {
    background-color: #6ea963;
}
