.user {
    background-color: rgb(255,247,209, 0.3);
    display: flex;
    align-items: center;
    justify-content: space-around;
    -webkit-box-shadow: 13px 18px 29px -5px #EAFFA1; 
    box-shadow: 13px 18px 29px -5px #B9CA7F;
    width: 37%;
    max-width: 800px;
    height: 400px;
    max-height: 500px;
    border-radius: 40px;
    overflow: hidden;
}

.user img {
    height: 250px;
    width: 250px;
    border-radius: 100px;
}

.user-info span {
    font-size: 40px;
    font-weight: 600;
}

.user-detail {
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-detail textarea {
    field-sizing: content;
    text-align: center;
    border-radius: 20px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    margin-top: 30px;
    min-inline-size: 40ch;
    min-block-size: 20ch;
    width: 90%;
}

.user-detail button {
    border: 0px solid black;
    justify-content: center;
    text-align: center;
    align-items: center;
    display: flex;
    font-size: 12px;
    border-radius: 15px;
    margin-top: 12px;
    width: 50px;
    height: 30px;
}